<!--<h2 class="blog-description">{{@blog.description}}</h2>-->
<!--<h2 class="blog-description"><a href="#">About</a> - <a href="#">Archive</a> - <a href="#">Twitter</a></h2>-->

<h2 class="blog-description">By <a href="http://www.twitter.com/kaychaks" target="_blank">Kaushik Chakraborty</a></h2>
