<!--<h2 class="blog-description">{{@blog.description}}</h2>-->
<!--<h2 class="blog-description"><a href="#">About</a> - <a href="#">Archive</a> - <a href="#">Twitter</a></h2>-->

      <h2 class="blog-description">{{{block "authorName"}}}</h2>
